@model PagedList.IPagedList<Models.EF.News>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="right__title">Bảng điều khiển</div>
<p class="right__desc">Danh sách tin tức</p>
<div class="right__table">
    <div class="right__tableWrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tiêu đề</th>
                    <th>Ngày tạo</th>
                    <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Title</td>
                        <td>@item.CreatedDate</td>
                        <td class="right__iconTable"><a href="/Admin/News/Edit/@item.ID">Sửa</a></td>
                        <td class="right__iconTable">
                            @Ajax.ActionLink("Xóa", "Delete", new { id = item.ID },
                           new AjaxOptions
                           {
                               Confirm = "Do you want to delete this news?",
                               OnComplete = "$(this).closest('tr').remove()",
                               HttpMethod = "Delete"
                           }, new { })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @ViewBag.searchString }), new PagedListRenderOptions
                     {
                        LiElementClasses = new string[] { },
                     })
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}