@model PagedList.IPagedList<Models.EF.Account>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="right__title">Bảng điều khiển</div>
<p class="right__desc">Danh sách tài khoản</p>
<div class="right__table">
    <div class="right__tableWrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Vị trí</th>
                    <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Address</td>
                        @if (item.Role == true)
                        {
                            <td>Admin</td>
                            <td class="right__iconTable"><a href="/Admin/Account/Edit/@item.ID">Sửa</a></td>
                            <td></td>
                        }
                        else
                        {
                            <td>Khách hàng</td>
                            <td class="right__iconTable"><a href="/Admin/Account/Edit/@item.ID">Sửa</a></td>
                            <td class="right__iconTable">
                                @Ajax.ActionLink("Xóa", "Delete", new { id = item.ID },
                               new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa danh mục này?",
                                   OnComplete = "$(this).closest('tr').remove()",
                                   HttpMethod = "Delete"
                               }, new { })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @ViewBag.searchString }), new PagedListRenderOptions
                     {
                        LiElementClasses = new string[] { "" },
                     })
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}